@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
@import "_variable"
@import url('https://fonts.googleapis.com/css?family=Abel|Advent+Pro|Cantata+One|Noto+Sans')


body
  font-family: 'Noto Sans', 'Abel'
  margin: 0
  background: #C5C2CB

[role="GameName"]
  text-align: center